---
import { slugifyStr } from '@/utils/text/slugify';
import type { CollectionEntry } from 'astro:content';
import PostMeta from './PostMeta.astro';
import Tag from './Tag.astro';
import getPostPath from '@/utils/content/getPostPath';

export interface Props {
  variant?: 'h2' | 'h3';
  post: CollectionEntry<'blogs' | 'short_reads'>;
}

const { variant = 'h2', post } = Astro.props;

const { collection } = post;
const { title, pubDatetime, modDatetime, timezone } = post.data;
const description =
  'description' in post.data ? post.data.description : undefined;
const tags = 'tags' in post.data ? post.data.tags : undefined;

const headerPropsBaseClass = 'leading-tight tracking-tight';
const transitionName = slugifyStr(title);
---

<li class='my-8 mt-6 mb-16'>
  {
    variant === 'h2' ? (
      <h2 class:list={[headerPropsBaseClass, 'mb-2 text-3xl font-bold']}>
        <a
          href={getPostPath(post.id, post.filePath, collection, post.data.slug)}
          class:list={[
            'transition-colors hover:text-foreground-primary/90 focus-visible:no-underline focus-visible:underline-offset-0',
          ]}
        >
          <span transition:name={transitionName}>{title}</span>
        </a>
      </h2>
    ) : (
      <h3 class:list={[headerPropsBaseClass, 'mb-2 text-xl font-medium']}>
        <a
          href={getPostPath(post.id, post.filePath, collection, post.data.slug)}
          class:list={[
            'decoration-1 underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0',
          ]}
        >
          <span transition:name={transitionName}>{title}</span>
        </a>
      </h3>
    )
  }
  <PostMeta {pubDatetime} {modDatetime} {timezone} text={post.body || ''} />
  {
    tags && tags.length > 0 && (
      <ul class='mb-1'>
        {tags.map(tag => (
          <Tag tag={slugifyStr(tag)} tagName={tag} />
        ))}
      </ul>
    )
  }
  {description && <p class='text-foreground-muted'>{description}</p>}
</li>
